/*******************
 * Wiki Built-ins Customization
 *******************/

/* Page Title - Hide */
.document-header #document-title h1 {
    display: none !important;
}

.titleDivider {
    display: none !important;
}

/*******************
 * Navbar - Dark Mode
 *******************/

/* Navbar - overall look */
.navbar-dark-mode {
    margin-left: -30px;
    margin-right: -30px;
    /*	position: sticky;
	top: 0; */
    border-radius: 0;
    z-index: 999;
}

/* Menu text color */
.navbar-dark-mode a.dropdown-toggle,
.navbar-dark-mode a {
    max-width: 100% !important;
    color: #ffffff !important;
    padding: 18px !important;
}

.dropdown-menu>li>a {
    padding: 3px 20px !important;
}

/* Dropdown sub-menu text color */
ul.dropdown-menu a {
    color: #000000 !important;
}


/* Main menu hover */
.navbar-dark-mode .navbar-nav>li>a:hover,
.navbar-dark-mode .navbar-nav>li>a:focus {
    color: #ffffff;
    background: none !important;
    /*   text-decoration-line: underline; */
    outline: dotted;
    outline-width: 2px;
}

/* Menu click after */
.navbar-dark-mode .navbar-nav>.open>a,
.navbar-dark-mode .navbar-nav>.open>a:hover,
.navbar-dark-mode .navbar-nav>.open>a:focus {
    background: none !important;
}

/* Dropdown sub-menu hover */
.navbar-dark-mode .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-dark-mode .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-dark-mode .navbar-nav .open .dropdown-menu>li>a:active,
.navbar-dark-mode .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-dark-mode .navbar-nav .open .dropdown-menu>.active>a:focus,
.navbar-dark-mode .navbar-nav .open .dropdown-menu>.active>a:active {
    background: none !important;
    text-decoration: underline !important;
}

/* Dropdowns - menu header */
.navbar-dark-mode .navbar-nav .dropdown-header {
    font-weight: 900;
    color: #232f3e;
    text-transform: uppercase;
    margin-left: -5px !important;
}

.navbar-brand {
    padding-left: 15px;
}